/* resources/css/app.css */
@import './tokens.css';

/* Reset base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-main);
    color: var(--text-dark);
    font-family: var(--font-family);
}

/* Aquí puedes importar otros archivos si decides dividirlos, por ejemplo: */
/* @import './layout.css'; */